.Rproj.user
.Rhistory
.RData
.Ruserdata
*/out/*
demo.mdk
Serrapilheira.Rproj
IntroBayesianStatistics/IntroBayes.md
.vscode/settings.json
references/
CausalInference/.DS_Store
.DS_Store
*/.DS_Store
FittingBayesianModels/1701.02434.pdf
